/* Using the Avengers Daily Challenge, we will add media queries to change the styling of the page depending on the screen size (computer, tablet, smartphone).
Font size of the title
on Medium devices (landscape tablets, 768px and up) : 25px
on Small devices (portrait tablets and large phones, 600px and up): 35px
Navbar background color
Small devices : yellow and font color black
Medium devices : lightgreen and font color black.
Large devices (laptops/desktops, 992px and up) : red and font color white.
Extra large devices (large laptops and desktops, 1200px and up) : black and font color white.
Position of the text
Large devices: the title is next to the paragraph.
Small devices: the title is above the paragraph. */


html{
    height: 100%;
}

body{
    background-color: black;
    background-image:url(img/74c7d1a23bbbb4445b81e26068761e45.jpg) ;
    background-repeat:no-repeat;
    background-size:cover ;
}

nav{
    background-color: rgba(0, 0, 0, 0.692);
    min-width: 100%;
    height:100px;
}

#logo {
    padding-left: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;

}


nav ul {
    font-family: 'Roboto', sans-serif;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    float: right;;

}
nav ul li {
    display: inline-block;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

nav ul li a {
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
}


article{
    width: 50%;
    margin-top: 7%;
    margin-left: 5%;
    background-color: rgba(0, 0, 0, 0.404);
}

article h1{
    font-size: 2.5rem;
    color: white;
    padding: 15px 0 0 15px;
}

article p{
    font-size: 1.25rem;
    color: white;
    padding: 15px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media  ( min-width: 600px) {
    article h1 {
    font-size: 35px;
    }
    nav{
        background-color: yellow ;
    } 

    nav ul li a {
        color: rgb(0, 0, 0);
    }
        
}

/* Medium devices (landscape tablets, 768px and up)  */
@media  ( min-width: 768px) { 
    article h1 {
    font-size: 25px;
      }
    nav{
        background-color: lightgreen ;
    } 

    nav ul li a {
        color: rgb(0, 0, 0);
    }  
}



/* Large devices (laptops/desktops, 992px and up) */
@media  ( min-width: 992px) {
    nav{
        background-color: red ;
    } 

    nav ul li a {
        color: rgb(255, 255, 255);
    }
        
}

/* Extra large devices (large laptops and desktops, 1200px and up */
@media  ( min-width: 1200px) {
    nav{
        background-color: rgb(0, 0, 0) ;
    } 

    nav ul li a {
        color: rgb(255, 255, 255);
    }
        
}